<section class="nathan-content">
  <div class="rside bio">
    <p>
      I am a graduate student at <a class="bodylink" title="McMaster University" href="http://www.mcmaster.ca">McMaster University</a> under <a class="bodylink" title="Dr. Jacques Carette's website" href="http://www.cas.mcmaster.ca/~carette">Dr. Jacques Carette</a>. I'm a member of the <a class="bodylink" title="G-ScalE website" href="http://www.gscale.ca">G-ScalE Lab</a> located at <a class="bodylink" title="McMaster Innovation Park" href="http://mcmasterinnovationpark.ca/">McMaster Innovation Park</a> and my research has primarily to do with games and scalability! I spend a lot of time thinking about playability and am currently up to my ears in <span class="green cubano">THESIS</span>.
    </p>
    <p>
      I'm interested in the web and web techonology, sincerely believe that <span class="green cubano">EVERY</span> website should be responsive and spend a lot of time in Haskell, Coffeescript and CSS. I'm in the process of modeling the bullet hell genre of SHMUP videogames and developing a code generator to generate games of that genre. Busy busy.
    </p>
    <p>
      For the past 2 years I've assisted teaching SE2S03, Principles of Programming to 2nd year undergrads at McMaster under both <a class="bodylink" title="Dr. Ridha Khedri's website" href="http://www.cas.mcmaster.ca/~khedri">Dr. Ridha Khedri</a> <a class="bodylink" title="2012 edition" href="http://www.cas.mcmaster.ca/~khedri/wp-content/uploads/COURSES/2s03/">(2012)</a>, and Dr. Jacques Carette <a class="bodylink" title="2013 edition" href="http://www.cas.mcmaster.ca/~se2s03/">(2013)</a>.
    </p>
    <p>
      I'm Jamaican, a Japanese speaker, a Toronto dweller, a keen amateur baker, an <a class="bodylink" title="Arsenal Football Club" href="http://www.arsenal.com">Arsenal</a> supporter and a mean FIFA player.
    </p>
  </div>
  <div class="lside">
    <div class="img">
      <img rel="A picture of me." height="160" src="https://secure.gravatar.com/avatar/0ec0f999a08d16dcec74abf8aeaf68ef?s=420" width="160" />
    </div>
    <div class="links">
      <section class="resume">
        <h3><span class="black">my resume is </span><a class="hlink red italic" title="Nathan Collman's Resume" href="resources/resume/nathan_collman_resume.pdf">here!</a></h3>
      </section>
      <section class="social">
        <ul>
          <li>
            <a class="hlink" title="Nathan's GitHub" href="https://github.com/elmoeleven">
              <i class="fa fa-github-alt red"></i>
            </a>
          </li>
          <li>
            <a class="hlink" title="Nathan's LinkedIn" href="http://www.linkedin.com/pub/nathan-collman/48/b94/74">
              <i class="fa fa-linkedin-square red"></i>
            </a>
          </li>
          <li>
            <a class="hlink" title="Nathan's Google+" href="https://plus.google.com/u/0/100220900769181042363/">
              <i class="fa fa-google-plus-square red"></i>
            </a>
          </li>
        </ul>
      </section>
    </div>
  </div>
</section>