@import 'nib'

// Apply a natural box layout model to all elements.
// http://paulirish.com/2012/box-sizing-border-box-ftw/
*
  box-sizing: border-box

headingFont = "cubano-sharp"
paragraphFont = "rooney-web"

black = rgba(23,5,5,1)
red = rgba(213,33,19,1)
white = rgba(255,255,255,1)
green = rgba(46,156,131,1)

ff(family, styl, weight)
  font-family family, "HelveticaNeue", "Helvetica", "Arial", sans-serif
  font-style styl
  font-weight weight

ts(h, v, blur, clr)
    text-shadow h v blur clr

.red
  color red
  ts(0px,0px,1px,red)

.green
  color green

.cubano
  ff(headingFont, normal, 400)

.black
  color black
  ts(0px,0px,1px,black)

.italic
  font-style italic