@import 'nib'
@import '_base'

@media only screen and (min-width : 768px) and (max-width: 1239px)
  h1, h2
    font-size 80px
    font-size 8rem

  h3,h4
    font-size 35px
    font-size 3.5rem

  body
    font-size 18px
    font-size 1.8rem
    padding 15px

  p
    line-height 31px
    line-height 3.1rem

  .header
    position relative
    left 8px
    text-align left

  .nathan-content
    position relative
    top 60px
    overflow hidden
    height 800px
    padding 0.6em

    .lside
      width 38%
      float left
      .img
        float left
        width 100%
        img
          border 10px solid green
          margin-top 30px
          width 99%
          height auto
      .links
        float left
        position relative
        top 20px
        height 300px
        width 100%

        .social
          ul
            li
              width 62px

              a
                i
                  font-size 50px
                  font-size 5rem

    .bio
      float right
      width 60%
      padding 0 15px
      text-align left


@media screen and (min-width: 1240px)
  a.bodylink
    &:hover
      color red
      text-decoration none

  a.hlink, a.hlink i
    &:hover
      ts(0px,0px,1px,green)
      color green

  h1, h2
    font-size 80px
    font-size 8rem

  h3,h4
    font-size 35px
    font-size 3.5rem

  body
    font-size 21px
    font-size 2.1rem

  p
    line-height 31px
    line-height 3.1rem

  .header
    position relative
    left 8px
    text-align left

  .nathan-content
    position relative
    top 60px
    overflow hidden
    height 800px
    padding 0.6em

    .lside
      width 38%
      float left
      .img
        float left
        width 100%
        img
          border 10px solid green
          margin-top 30px
          width 99%
          height auto
      .links
        float left
        position relative
        top 20px
        height 300px
        width 100%

        .social
          ul
            li
              width 62px

              a
                i
                  font-size 50px
                  font-size 5rem

    .bio
      float right
      width 60%
      padding 0 15px
      text-align left
