@import 'nib'
@import '../../styles/_base'


.img
  img
    border 7.5px solid green
    margin-top 15px

.bio
  padding 0 15px
  text-align left

.social
  height 60px
  ul
    height 100%
    margin-top 0
    li
      position relative
      left -20px
      padding-right 40px
      display inline-block
      height 100%

      a
        position relative
        left 50%
        right 50%
        i
          font-size 4rem
